<p-toast />

<p-card>
  <h1 class="text-3xl">Registrar referido</h1>
  <div [formGroup]="referralForm" class="flex flex-row gap-5 w-full">
    <p-floatlabel variant="in" class="my-3 w-full">
      <p-select inputId="in_referrer" formControlName="referrerId" [options]="drivers" optionLabel="name"
        styleClass="w-full" variant="filled" class="w-full" [optionValue]="'id'" />
      <label for="in_referrer">Referidor</label>
    </p-floatlabel>

    <div class="flex justify-center items-center flex-col">
      <i class="pi pi-angle-double-right" style="font-size: 2.5rem"></i>
    </div>

    <p-floatlabel variant="in" class="my-3 w-full">
      <p-select inputId="in_referred" formControlName="referredId" [options]="drivers" optionLabel="name"
        styleClass="w-full" variant="filled" class="w-full" [optionValue]="'id'" />
      <label for="in_referred">Referido</label>
    </p-floatlabel>

  </div>
  <p-button (onClick)="registerReferral()" class="w-full" fluid>Referir</p-button>
</p-card>